.container{
    flex-direction: column;
    padding: 20px;



    form{
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .buttons{
        text-align: right;

        button{
            margin: 10px;
        }
    }
    .error{
        color: red;
        text-align: right;
    }
}